---
---

/*
 * This file controls what is imported from /_sass
 *
 * Note that the files are processed in the order they are imported, so they are partly
   sorted by the dependencies. Also, the first two lines of the file are required by Jekyll.
 */

@import
    "vendor/breakpoint/breakpoint",

    "themes",
    "theme/{{ site.site_theme | default: 'default' | append: '_light' }}",
    "theme/{{ site.site_theme | default: 'default' | append: '_dark' }}",

    "include/mixins",
    "vendor/susy/susy",

    "layout/reset",
    "layout/base",

    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",

    "layout/forms",

    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "layout/json_cv",

    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands"
;

/* TIMELINE */
.timeline {
  position: relative;
  max-width: 900px;
  margin: 50px auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background: #6a0dad;
  top: 0;
  bottom: 0;
  left: 50%;
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 50%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 30px;
  border-radius: 50%;
  background: #6a0dad; /* filled circle */
  z-index: 2;
}

/* LEFT cards */
.timeline-item.left::after {
  left: 100%;
  transform: translate(-50%, -50%);
}

/* RIGHT cards */
.timeline-item.right::after {
  left: 0;
  transform: translate(-50%, -50%);
}


.content {
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.date {
  font-size: 12px;
  color: #6a0dad;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .timeline::after { left: 20px; }

  .timeline-item {
    width: 100%;
    padding-left: 60px;
  }

  .right { left: 0; }

  .timeline-item::after {
    left: 11px;
  }
}
